.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--main-font-weight);
  background-image: var(--background-gradient);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 100px 0;
}

.container {
  width: var(--container-width);
  margin-inline: auto;
}

.button {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  color: var(--button-text-color);
  border: 2px solid var(--button-border-color);
  background: var(--button-bg-color);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--button-overlay-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text {
  position: relative;
  z-index: 2;
  mix-blend-mode: var(--button-mix-blend-mode);
  color: var(--button-text-color);
}

.button:focus {
  box-shadow: 2px 2px 0 0 var(--button-border-color);
  outline: none;
}

.header {
  margin-inline: auto;
  background-color: #fff;
  margin: 100px auto;
  border: 2px solid #000;
}

.logo {
  text-align: center;
  font-family: var(--accent-font);
  width: 100%;
  display: grid;
  gap: 20px;
  padding: clamp(7.5rem, 6.9159rem + 2.4922vw, 8rem) 0;
}

.logo__title {
  font-weight: 400;
  font-size: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
  text-transform: uppercase;
  color: #000;
}

.logo__subtitle {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
  text-transform: uppercase;
  color: #000;
}

.main {
  display: grid;
  gap: 50px;
}

.card {
  border: 2px solid #000;
  background: #fff;
}

.card__title {
  font-variation-settings: "wght" var(--title-font-weight);
  font-size: 18px;
  color: #000;
  display: grid;
  padding: 4px 10px;
}

.card__image-wrapper {
  position: relative;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: clamp(23.4375rem, 0rem + 100vw, 43.75rem);
}

.card__label {
  z-index: 2;
  font-family: var(--accent-font);
  position: absolute;
  top: 25px;
  right: 25px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    -1px -1px 0 var(--stroke-color),
    1px -1px 0 var(--stroke-color),
    -1px 1px 0 var(--stroke-color),
    1px 1px 0 var(--stroke-color);
}

@supports (
  (-webkit-text-stroke: 1px var(--stroke-color)) or (text-stroke: 1px var(--stroke-color))
) {
  .card__label {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  object-position: center;
}

.card__image_brightness {
  filter: brightness(30%) contrast(150%) saturate(80%);
}

.card__image_contrast {
  filter: contrast(250%) brightness(85%) saturate(130%);
}

.card__image_grayscale {
  filter: grayscale(80%) sepia(0.2) brightness(90%);
}

.card__image_hue-rotate {
  filter: hue-rotate(0.5turn) saturate(200%) brightness(95%);
}

.card__image_invert {
  filter: invert(30%) hue-rotate(180deg) brightness(90%);
}

.card__image_opacity {
  filter: opacity(40%) brightness(110%) contrast(90%);
}

.card__image_saturate {
  filter: saturate(390%) brightness(90%) contrast(120%);
}

.card__image_sepia {
  filter: sepia(0.6) grayscale(20%) brightness(95%);
}

.card__content {
  display: grid;
  gap: 25px;
  padding: 25px;
  font-size: 18px;
  line-height: 117%;
  color: #000;
}

.card__buttons {
  padding: 0 25px 25px 25px;
  display: flex;
  justify-content: flex-end;
  gap: 7px;
}

.card__icon-button {
  margin: 0;
  padding: 0;
  block-size: 36px;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
  cursor: pointer;
}

/* SVG LIKE ICON ACTIONS */
.sparks {
  opacity: 0;
}

.like-icon,
.heart,
.sparks {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s forwards;
}

.like-icon.is-liked .sparks {
  animation: sparks-appear 0.3s ease-in 0.3s forwards;
}

.contour {
  transition: fill linear 0.1s;
}

.like-icon:active .contour {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0.06s;
}

.core {
  transition: fill linear 0.3s 0.03s;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill linear 0.3s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s;
}

.main-body {
  transition: fill linear 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0.05s;
}

/*  */
.save-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  block-size: 55px;
  inline-size: 335px;
  margin: 0 auto;
  gap: 8px;
  cursor: pointer;
}

.save-button .save-button__icon {
  width: 21px;
  height: 21px;
  position: relative;
  z-index: 2;
  mix-blend-mode: var(--button-mix-blend-mode);
  fill: var(--button-text-color);
  color: var(--button-text-color);
}

.save-button__text {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  position: relative;
  z-index: 2;
  mix-blend-mode: var(--button-mix-blend-mode);
  color: var(--button-text-color);
}

.dialog {
  position: fixed;
  inset: 0;
  font-family: var(--accent-font);
  width: 357px;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 30px;
  padding: 30px 30px;
  border: 2px solid #000;
  background: #fff;
}

.dialog::backdrop {
  background: #000;
  opacity: 0.75;
}

dialog:not([open]) {
  display: none;
}

.dialog__content {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.dialog__icon {
  min-width: 39px;
  min-height: 39px;
  width: 39px;
  height: 39px;
  fill: #000;
  color: #000;
}

.dialog__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000;
}

.dialog__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 38px;
  cursor: pointer;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .save-button {
    block-size: 84px;
    inline-size: 306px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 17px 0;
  }

  .save-button .save-button__icon {
    width: 28px;
    height: 28px;
  }

  .dialog {
    padding: 30px 40px;
    width: 345px;
  }
}
